.board {
    display: grid;
    position: relative;
    grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
}



/* Formats the generated rank/file tiles into an 8x8 grid of squares */
.tiles {
    display: grid; 
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));    
    width: calc(var(--tile-size) * 8);
}

.tile {
  position: relative;
}

.tile--light {
    background-color: var(--light-tile);
}
.tile--dark {
    background-color: var(--dark-tile);
}


.highlight::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(.3*var(--tile-size));
    height: calc(.3*var(--tile-size));
    background: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .25;
}

.attacking:after {
    content: '';
    position: absolute;
    display: block;
    width: calc(var(--tile-size) - 12px);
    height: calc(var(--tile-size) - 12px);
    border-radius: 50%;
    left: 0;
    top: 0;
    border: 6px solid black;
    opacity: .25;
}
